@import '../../variables';
@import '../../font';

div.canvasmain {
    position: relative;
    width: 343px;
    margin: auto;
    canvas {
        margin: auto;
        border: 1px solid #000000;
        background-color: white;
    }
}
